USE [master]
GO
/****** Object:  Database [zaposlenici]    Script Date: 3/20/2019 1:35:05 PM ******/
CREATE DATABASE [zaposlenici]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zaposlenici', FILENAME = N'C:\Users\Rihard\zaposlenici.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'zaposlenici_log', FILENAME = N'C:\Users\Rihard\zaposlenici_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [zaposlenici].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [zaposlenici]
GO
/****** Object:  Table [dbo].[odjeli]    Script Date: 3/20/2019 1:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odjeli](
	[id] [nchar](10) NOT NULL,
	[naziv_odjela] [nvarchar](50) NOT NULL,
	[lokacija_odjela] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sefovi]    Script Date: 3/20/2019 1:35:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sefovi](
	[id_zaposlenika] [bigint] NOT NULL,
	[id_odjela] [nchar](10) NOT NULL,
 CONSTRAINT [PK_id] PRIMARY KEY CLUSTERED 
(
	[id_zaposlenika] ASC,
	[id_odjela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zaposlenici]    Script Date: 3/20/2019 1:35:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zaposlenici](
	[id] [bigint] NOT NULL,
	[ime] [varchar](50) NOT NULL,
	[prezime] [varchar](50) NOT NULL,
	[id_odjela] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sefovi]  WITH CHECK ADD FOREIGN KEY([id_odjela])
REFERENCES [dbo].[odjeli] ([id])
GO
ALTER TABLE [dbo].[sefovi]  WITH CHECK ADD FOREIGN KEY([id_zaposlenika])
REFERENCES [dbo].[zaposlenici] ([id])
GO
ALTER TABLE [dbo].[zaposlenici]  WITH CHECK ADD FOREIGN KEY([id_odjela])
REFERENCES [dbo].[odjeli] ([id])
GO
USE [master]
GO
